:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    font-weight: 400;

    line-height: 1.5;

    text-rendering: optimizeLegibility;
}

#screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*-----------------------------------------------------------------------------
 * Settings
 *---------------------------------------------------------------------------*/

#inspector {
    background-color: rgba(235, 215, 215, 0.554);

    border: 1px solid rgba(0, 0, 0, 0.554);
    border-radius: 4px;

    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    gap: .25rem;
    padding: .5rem;
    margin: 1rem;
}

#applet-selector {
    display: grid;
    grid-template-columns: auto 100fr;
    gap: .25rem;
}

#applet-settings {
    display: grid;
    grid-template-columns: auto 100fr auto;
    gap: .25rem;
    padding: .5rem;
}

#applet-settings > h1 {
    background-color: rgba(235, 215, 215, 0.554);

    font-size: 1.125rem;
    grid-column: 1/span 3;

    margin: 0;
}

#applet-settings > button {
    grid-column: 1/span 3;
}

#applet-settings > .field {
    text-align: right;
}

#applet-settings > .field::after {
    content: ':';
}
